.control-panel-wrapper {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--dark-beige);
  position: sticky;
  top: 0;
  background-color: var(--white);
  font-size: 0.85rem;
}

.fa-circle-plus {
  color: var(--action-color-green);
}

.control-panel-create-list-button {
  padding: 0.2rem 0.3rem;
  background: none;
  border: 2px solid var(--action-color-green);
  border-radius: 5px;
  margin-right: 0.5rem;

  &:active {
    color: var(--white);
    background-color: var(--action-color-green);
  }
}

.control-panel-list-actions-button {
  background-color: var(--white);
  padding: 0.2rem 0.3rem;
  border: 2px solid var(--sky-blue);
  border-radius: 5px;
  margin-right: 0.5rem;
}

.list-actions-button-wrapper {
  position: relative;
  display: inline-block;
}

.list-actions-button-menu {
  position: absolute;
  top: calc(100% + 0.4rem);
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: var(--white);
  padding: 0.5rem;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition:
    opacity 300ms ease,
    visibility 0ms linear 300ms;
}

.list-actions-button-menu.visible {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;

  transition:
    opacity 300ms ease,
    visibility 0ms linear 0ms;
}

.list-actions-button-menu-item {
  background-color: var(--white);
  color: var(--black);
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.35rem 0.6rem;
  text-align: left;
  cursor: pointer;

  &:active {
    color: var(--white);
    background-color: var(--dark-blue);
  }
}

.control-panel-save-changes-button {
  padding: 0.2rem 0.3rem;
  background-color: var(--sky-blue);
  color: var(--white);
  border-radius: 5px;
  position: relative;

  &:disabled {
    color: var(--disabled-text);
    background-color: var(--disabled-background);
  }
}

.alert-on-save-changes-button {
  color: var(--white);
  background-color: var(--required-or-warning);
  font-size: 0.6rem;
  font-weight: bold;
  width: 15px;
  height: 15px;
  position: absolute;
  border-radius: 50%;
  top: -9px;
  right: -8px;
  line-height: 16px;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.8);
  transition:
    opacity 250ms ease-in,
    visibility 0ms ease-in 250ms;
}

.alert-visible {
  opacity: 1;
  transform: scale(1);
  visibility: visible;
  transition-delay: 0ms;
}
