.add-new-list {
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--dark-beige);
  position: sticky;
  top: 0;
  background-color: var(--white);
  font-size: 0.85rem;
}

.fa-circle-plus {
  color: var(--action-color-green);
  margin-right: 0.4rem;
}

.control-panel-create-list-button {
  padding: 0.2rem 0.3rem;
  background: none;
  border: 2px solid var(--action-color-green);
  border-radius: 5px;
  margin-right: 0.5rem;

  &:active {
    color: var(--white);
    background-color: var(--action-color-green);
  }
}

.save-changes-button {
  padding: 0.2rem 0.3rem;
  background-color: var(--sky-blue);
  color: var(--white);
  border-radius: 5px;

  &:disabled {
    color: var(--disabled-text);
    background-color: var(--disabled-background);
  }
}
