.create-new-list-header h3 {
  margin-top: 0;
}

// Steps 1 and 2 of Create List Form
.create-list-form {
  display: flex;
  flex-direction: column;

  & .step-1-labels {
    margin-bottom: 1rem;
  }

  & .form-create-list-button {
    background-color: var(--action-color-green);
    color: var(--white);
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.06);
  }

  & .cancel-button {
    background: transparent;
    border: 1px solid var(--dark-beige);
    color: var(--off-black);
    border-radius: 5px;
    padding: 0.5rem;
  }

  & .fa-arrow-right {
    color: var(--white);
  }

  // For Step 2
  .step-2-add-items-button {
    color: var(--white);
    background-color: var(--dark-blue);
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;

    &:disabled {
      color: var(--dark-beige);
    }
  }

  .step-2-options {
    background: var(--white);
    flex-direction: column;
    padding-bottom: 1rem;
    display: flex;
    position: sticky;
    bottom: 0;
  }
}

// For Step 2 - list items
.create-list-item {
  position: relative;
  margin-bottom: 1rem;

  & label {
    flex-grow: 1;
  }

  & .step-2-form-inputs {
    width: 100%;
    border: none;
    border-bottom: 2px solid var(--off-black);
    margin-top: 1rem;
  }

  & .step-2-error-message {
    color: var(--required-or-warning);
    white-space: nowrap;
    pointer-events: none;
    border-radius: 4px;
    font-size: 0.875rem;
    position: absolute;
    top: 0px;
    right: 0;
  }
}

.input-wrapper {
  position: relative;
  width: 100%;

  & .step-one-form-inputs {
    margin-bottom: 2rem;
    border: none;
    border-bottom: 1px solid var(--off-black);
    width: 100%;
  }
}

.required-asterisks {
  font-size: 1.2rem;
  color: var(--required-or-warning);
}

.step-1-error-message {
  color: var(--required-or-warning);
  white-space: nowrap;
  pointer-events: none;
  border-radius: 4px;
  padding-bottom: 8px;
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

.list-item-wrapper {
  display: flex;
}
