.list-buttons-container {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.7rem;
}

.list-buttons {
  font-size: 0.85rem;
  margin-right: 0.7rem;
  padding: 0.5rem;
  font-weight: bold;
  white-space: nowrap;
}
