:root {
  // colors
  --action-color-green: #22c55e;
  --white: #ffffff;

  //padding
  --button-padding: 0.2rem;
}

body {
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
