:root {
  // main color palette
  --off-black: #07020d;
  --sky-blue: #015ecf;
  --dark-blue: #001d6d;
  --cream: #f1e9db;
  --dark-beige: #716a5c;
  --disabled-background: grey;
  --disabled-text: #4b4b4b;
  --white: #fff;
  --required-or-warning: #bd0000;

  // for user actions
  --action-color-green: #024f1e;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  font-size: 1rem;
}

input,
button,
textarea,
select {
  font: inherit;
}
