.all-list-items {
  margin: 1rem 0;
  border: 1px solid var(--off-black);
  border-radius: 5px;
  padding: 0.5rem;

  & .top-section {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--off-black);
  }

  & .bottom-section {
    padding-top: 0.5rem;
  }
}
