.all-list-items {
  margin: 1rem 0;
  border: 2px solid var(--off-black);
  border-radius: 5px;
  padding: 0.5rem;

  &.selected-for-deletion {
    border: 2px solid var(--required-or-warning);
    box-shadow: 0 0 6px var(--required-or-warning);
  }

  .top-section {
    display: flex;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--off-black);

    .top-section-text {
      flex-grow: 1;

      .completed-item {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 2px;
          background-color: currentColor;
          transform: translateY(-50%);
        }

        &.is-completed::after {
          width: 100%;
        }

        &.is-completed.interacted::after {
          width: 0;
          animation: strike-through 0.3s ease-out forwards;
        }

        &.not-completed.interacted::after {
          width: 100%;
          animation: strike-through-remove 0.3s ease-out forwards;
        }
      }
    }

    .mark-complete-checkbox {
      border-right: 1px solid var(--off-black);
      padding-right: 0.5rem;
      margin-right: 0.5rem;

      input {
        margin: 0;
      }
    }

    .drag-handle-wrapper {
      display: flex;
      user-select: none;
      -webkit-user-select: none;
      width: 2.5rem;
      padding-left: 0.2rem;
      border-left: 1px solid var(--off-black);
      justify-content: center;
      align-items: center;
      touch-action: none;
    }
  }

  .bottom-section {
    padding-top: 0.5rem;
  }
}

@keyframes strike-through {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes strike-through-remove {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}
